<div class="container" style="margin-top: 20px">
<div class="columns">

  <div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Profile
      <% if current_user.id == @user.id %>
       <a class="link" href="/users/<%= @user.id %>/edit"><i class="fas fa-cog"></i></a>
        <% end %>


   </p>
    <div class="panel-block">
      <article class="media">
        <div class="media-content">
          <div class="content">

              <small>@<%= @user.user_name %></small>

              <% unless current_user.id == @user.id %>
                <% if current_user.following?(@user) %>
          	        <form action="/users/<%= @user.id %>/unfollow" method="post">
                        <input type="hidden" name="_method" value="DELETE">
          		          <input type="submit" value="Unfollow" class="button is-small is rounded is-danger">
          	        </form>
                <% else %>
                    <form action="/users/<%= @user.id %>/follow" method="post">
                      <input type="submit" value="Follow" class="button is-small is rounded is-primary">
                    </form>
                <% end %>
              <% end %>

          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Tweeets</p>
            <p class="title is-6"><%= @user.tweets.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Following</p>
            <p class="title is-6"><a class="link" href="/users/<%= @user.id %>/checkfollowing"><%= @user.followed.count %></a></p>
          </div>
        </div>
          <div class="level-item has-centered-text">
          <div>
            <p class="heading">Followers</p>
            <p class="title is-6">  <a class="link" href="/users/<%= @user.id %>/checkfollowers"><%= @user.followers.count %></a></p></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </div>
<% if current_user.id == @user.id %>
  <div class="column">
    <div class="field">
      <div class="control">
        <form method="post" action="/tweet">
          <textarea class="textarea is-info" rows="3" cols="50" name="tweet[body]" placeholder="What's new?" maxlength="140"></textarea>
          <button type="submit" class="button is-primary" style="margin-top: 15px; margin-left: 787px"><span class="glyphicon glyphicon-pencil"> Tweet </button>
        </form>
        <%= @error if @error.present? %>
      </div>
    </div>
  </div>
<% else %>
<nav class="level">
  <form  action="/users/send_message/<%= @user.id %>" method="post">
  <div class="level-left">
    <div class="level-item">
      <textarea class="textarea is-info" name="message_body" placeholder="Send message to @<%= @user.user_name %>" maxlength="140" style="width: 500px"></textarea>
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
        <button class="button is-small is-rounded is-primary " type="submit" id="send" value="Send" style="margin-top: 5px"><i class="fas fa-paper-plane"></i></button>
    </div>

  </div>
  </form>
</nav>
<% end %>
</div>

<div class="column is-half">


  <% if @currenttweets.present? %>
    <% @currenttweets.each do | tweeet | %>
      <a class="link" href="/tweets/<%= tweeet.id %>"><div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <small>@<%= tweeet.user.user_name %></small><br/>
              <h3><%= tweeet.body %></h3>
              <p>Created at: <time class="timeago" datetime="<%= tweeet.created_at.getutc.iso8601.to_s %>"><%= tweeet.created_at.strftime("%l:%M %p %v") %></time></p>

            </div>
          </div>
        </article>
      </div></a>
    <% end %>
  <% else %>
    <div class="col-md-3 col-md-offset-4">
      <b style="text-align: center; display: block;">This user has no tweets yet!</b>
    </div>
  <% end %>
</div>



</div>


<script type="text/javascript">
  $("time.timeago").timeago();
</script>
